.pokemon {
    display: flex;
    padding: 1em;
    border: 1px solid black;
    margin: 1em;
    border-radius: 0.2em;
}

@media screen and (max-width: 768px) {
    .pokemon {
        flex-direction: column;
    }

    .pokemon img {
        margin-right: 0;    
    }
  }

.pokemon img {
    margin-right: 1em;
}

.pokemon div:nth-child(1) {
    position: relative;
    width: 100%;
    height: 300px;
}

.pokemon div:nth-child(2) span {
    margin-right: 0.5em;
}

.pokemon table {
    width: 100%;

}

.pokemon table tr th {
    text-align: center;
}

.pokemon table tr td {
    text-align: center;
}